  /* ------------------ MEDIA QUERY FOR SMALLER SCREENS ------------------ */
  @media (max-width: 768px) {
    h1 {
      font-size: 28px; /* Smaller heading on smaller screens */
    }
  
    form {
      width: 90%; /* More flexible form width on smaller screens */
      padding: 20px;
    }
  
    form label {
      font-size: 16px;
    }
  
    form input[type="email"],
    form input[type="date"],
    form input[type="number"],
    form input[type="text"],
    form input[type="checkbox"],
    form input[type="submit"] {
      font-size: 14px; /* Smaller input fields on smaller screens */
    }
  
    form input[type="submit"] {
      width: 100%; /* Full width for the submit button on small screens */
    }
  }


